<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Don’t rewrite files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite everything else to index.html to support Vue router history mode
  RewriteRule ^(.*)$ index.html [L]
</IfModule>
